* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #000000;
}

input[type="file"] {
  display: none;
}

.file-upload {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;
  
  position: fixed;
  top: 0;
  z-index: 100;
}

.file-upload h1 {
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

.custom-file-input {
  margin-left: 10px;
  cursor: pointer;
}

.custom-file-input h1 {
  text-decoration: underline;
}